{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/lenet.css' %}">
    {% comment %} <link rel="icon" href="https://cdn.acwing.com/media/article/image/2021/12/17/1_be4c11ce5f-acapp.png"> {% endcomment %}
</head>

<body style="margin: 0">
    <div id="1"></div>
    <script type="module">
        import {mainPlatform} from "{% static 'js/dist/lenet.js' %}";
        $(document).ready(function(){
            let platform = new mainPlatform("1");
            console.log(platform);
        });
    </script>
</body>
